
package-manager-strict=false

# https://github.com/electron-userland/electron-builder/issues/8346
virtual-store-dir-max-length=70

# 使用淘宝镜像源
registry = https://registry.npmmirror.com
# registry = https://registry.npmjs.org
# pnpm config set electron_mirror "https://npmmirror.com/mirrors/electron/"
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/
